
<div class="nav-bar-header">
  <br>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >Gallery'69</a>
  <br>
</div>
<div class="nav-bar-menu">
  <br><br><br><br><br><br><br><br><br><br>
  <ul>
    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
    <br>
    <li><a [routerLink]="['/artists']" routerLinkActive="router-link-active" >Artists</a></li>
    <br>
    <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
  </ul>
</div>
