@font-face {
  font-family: myFirstFont;
  src: url(D:\Project\angular\University_Project\gallery\src\app\nav-bar\CenturyGothicBold.ttf.ttf);
}

.nav-bar-header{
  font-family: myFirstFont;
  font-size: 30px;
  text-align: center;
  a {
    text-decoration: none;
    color: #565656;
  }
}

.nav-bar-menu {
  display: table;
  display: table-cell;
  vertical-align: middle;
  ul{
    li{
      list-style: none;
      a{
        background-color: bisque;
        text-decoration: none;
        font-size: 16px;
      }
    }
  }
}

